[Certs]
BrokerCertChain=/home/waymirec/mcafee/keystore/ca-broker.crt
CertFile=/home/waymirec/mcafee/keystore/broker.crt
PrivateKey=/home/waymirec/mcafee/keystore/broker.key

[Brokers]
unique_broker_id_1=broker_id_1;8883;broker_hostname_1;10.84.132.87

[General]
KeepAlive=600
ConnectRetries=3
ReconnectDelayMin=1
ReconnectDelayMax=30
LogLevel=info

