[
  {brokers, [
    [{host, "10.84.132.87"}, {port, 8883}]
  ]},
  {reconnect, [
    {min_interval, 3},
    {max_interval, 120},
    {max_retries, 10}
  ]},
  {client_id, <<"erlang_client">>},
  {ssl, [
    {certfile, "/home/waymirec/mcafee/keystore/broker.crt"},
    {keyfile, "/home/waymirec/mcafee/keystore/broker.key"},
    {cacertfile, "/home/waymirec/mcafee/keystore/ca-broker.crt"}
  ]},
  {loglevel, debug}      
]
